extends partials/layout.pug

block content
  .wrapper
    h1.Home__header Check out the candidates!

    #carouselExampleIndicators(class="carousel slide" data-ride="carousel")
      ol.carousel-indicators
        each user, index in users
          - let x = index/3
          if index % 3 === 0 && index === 0
            li(data-target="#carouselExampleIndicators" data-slide-to= x class="active")
          else if index % 3 === 0
            li(data-target="#carouselExampleIndicators" data-slide-to= x)

      .carousel-inner(role="listbox")
        each user, index in users
          if index % 3 === 0
            div(class=(index === 0)? "carousel-item active": "carousel-item")
              .Home___carousel__img-container
                .Home__carousel__img-connect
                  img.d-block.img-fluid.Home___carousel__img(src= users[index].photo alt="First slide")
                  .Home__carousel_info-container
                    .Home__carousel_name-age-container
                      h5= users[index].name
                      h5= users[index].age
                    a.btn.btn-success.Home__view-btn(href="/profile/"+users[index].id) view
                .Home__carousel__img-connect
                  img.d-block.img-fluid.Home___carousel__img(src= users[index+1].photo alt="First slide")
                  .Home__carousel_info-container
                    .Home__carousel_name-age-container
                      h5= users[index+1].name
                      h5= users[index+1].age
                    a.btn.btn-success.Home__view-btn(href="/profile/"+users[index+1].id) view
                .Home__carousel__img-connect
                  img.d-block.img-fluid.Home___carousel__img(src= users[index+2].photo alt="First slide")
                  .Home__carousel_info-container
                    .Home__carousel_name-age-container
                      h5= users[index+2].name
                      h5= users[index+2].age
                    a.btn.btn-success.Home__view-btn(href="/profile/"+users[index+2].id) view

      a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
      a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next

    .heart.x1
    .heart.x2
    .heart.x3
    .heart.x4
    .heart.x5
    .altheart.x6
